extends layout

append head
  //- add page specific styles by appending to the head
  link(rel='stylesheet' href='/stylesheets/laughfeed.css')
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content

  #main
    div
    #sideBar
      h1 GoodLaughs
      p Welcome to GoodLaughs #{user.username}!
      a(href="/users/login") Log In
      div
      a(href="/users/signup") Don't have an account?
      //- div
      //- a(href="/laughs") Laughs
      //- div
      //- a(href="/laughfeed") Laughfeed
    #feedPage
  div(id='wrapper')
    each laugh in laughs
      div(id='content')
        h2(id='user-name')= laugh.User.username
        p(id='body')= laugh.body
        input(type="checkbox" id="bows")
        div(class="rate")
          input(type="radio" id="star5" name="rate" value="5")
          label(for="star5" title="text") 5 stars
          input(type="radio" id="star4" name="rate" value="4")
          label(for="star4" title="text") 4 stars
          input(type="radio" id="star3" name="rate" value="3")
          label(for="star3" title="text") 3 stars
          input(type="radio" id="star2" name="rate" value="2")
          label(for="star2" title="text") 2 stars
          input(type="radio" id="star1" name="rate" value="1")
          label(for="star1" title="text") 1 star
        div
      div(id='review-wrapper')
          if laugh.createdLaugh
            a(id='write-review' href='/laughs/' + laugh.id) Edit this Laugh
          a(id='edit-laugh' href='/laughs/' + laugh.id + '/reviews') Write a Review
          if laugh.reviews
            each review in laugh.reviews
              ul
                li= review.body + ' - ' + review.User.username
