extends layout
append head
  link(rel="stylesheet", href="/stylesheets/login.css")
  link(rel="stylesheet", href="/stylesheets/laughs.css")

block content
  a(id="return" href="/") Return to Main Page
  br
  h2(id="banner") Add-A-Laugh
  if errors.length
    br
    each error in errors
        div(id='errors')= error
  br
  form(action='/laughs' method='POST')
    ul(class='flex-outer')
      input(type='hidden' name='_csrf' value=csrfToken)
      li
        label Share something funny...
        textarea(id="text_input" name='laughBody' placeholder="What's so funny?")
      li
        label Bow / Super-like (for the extra hahahas!)
        input(type='radio' name='bows')
      li
        label Lols 1-5 (optional)
        input(id="lol" type='number' name='lols' placeholder="5")
      li
        label Write a review... (optional)
        textarea(id="text_input" name='reviewBody' placeholder="What are you thinking!?")
      button(type='submit' name='submit' id='submit' value='Laughs') Submit
