extends layout
append head
    link(rel='stylesheet' href='/stylesheets/login.css')

block content
    h2 Log In
    br
    if errors.length
        each error in errors
            div(id='errors')= error
    br
    form(action='/users/login' method='post')
        ul( class='flex-outer' )
            input(type='hidden' name='_csrf' value=csrfToken)
            li
                label(for=username) Username
                input(type='text' name='username' placeholder='username' value=username)
            li
                label(for='password') Password
                input(type='password' name='password' placeholder='password')
            li
                a(href="/") Return
                button(type='submit' name='submit' id='submit' value='Log-In') Log In
