div
#header
    div
    #logo
        img(src="../public/images/logo.png" alt="GoodLaughs Logo")
    div
    #searchbar
        input(type='text' name='search' placeholder='Search Laughs' value=search)
    div
    .buttons
        div
        #login
            a(href="/users/login") login
        div
        #signup
            a(href="/users/signup") signup

nav
    div
    #nav-buttons
        div
        .nav-buttons__click
            div
            #home
                a(href="/") Home
            div
            #myLaughs
                a(href="/laughboxes") MyLaughs
