append head
    script(src="/routes/users.js" type="module")

div
#header
    div
        #logo
        img(src="/images/logo.png" alt="GoodLaughs Logo")
    div
    #nav-buttons
        div
            if user
                a(href="/") Home
                a(href="/laughboxes") MyLaughBoxes
                a(href="/laughs") Add-a-Laugh
            else
                a(href="/") Home
                a(href="/laughs") Add-a-Laugh

    div
    #searchBar
        input(type='text' name='search' placeholder='Search Laughs')
    div
    #buttons
        if user
            span(class='helloUser') Welcome, #{user.username}!
            form(class='logoutUser' action='/users/logout' method='post')
                button(class='logoutButton' type='submit') logout
        else
            a(href="/users/login") login
            a(href="/users/signup") signup
