div
#header
    div
        #logo
        img(src="/images/logo.png" alt="GoodLaughs Logo")
    div
    #nav-buttons
        div
            a(href="/") Home
            a(href="/laughboxes") LaughBox
            a(href="/laughs") Add-a-Laugh
    div
    #searchBar
        input(type='text' name='search' placeholder='Search Laughs')
    div
    #buttons
        div
            a(href="/users/login") login
            a(href="/users/signup") signup
