div
#header
    div
    #logo
        img(src="../public/imageslogo.png" alt="GoodLaughs Logo" style='width:140px; height:50px;')
    div
    #nav-buttons
        div
        #home
            a(href="/") Home
        div
        #myLaughs
            a(href="/laughboxes") LaughBox
    div
    #searchBar
        input(type='text' name='search' placeholder='Search Laughs')
    div
    #buttons
        div
        #login
            a(href="/users/login") login
        div
        #signup
            a(href="/users/signup") signup
