h1 {
    color: #555555;
}

#header {
    display: grid;
    grid-template-columns: 4, 1fr;
    grid-template-rows: 1;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    background-color: #F4F1EA;
    height: 50px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.15);
}

#logo {
    background: url(./images/logo.png) no-repeat;
    grid-column: 1/4;
    grid-row: 1;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 4/4;
    grid-row: 1;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 9px;
    padding-right: 9px;
    margin-left: 4px;
    margin-right: 4px;
}

#searchBar {
    display: grid;
    padding-top: 9px;
    justify-content: center;
    align-items: center;
    grid-column: 3/4;
    grid-row: 1;
}

#nav-buttons {
    color: #382110;
    grid-column: 2/4;
    grid-row: 1;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    display: flex;
    align-items: center;
}

#home {
    padding-left: 30px;
    padding-right: 30px;
}

#myLaughs {
    padding-left: 30px;
    padding-right: 30px;
}

#login {
    padding-left: 30px;
    padding-right: 30px;
}

#signup {
    padding-left: 30px;
    padding-right: 30px;
}
