* {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Styles for the 5 star rating */
.rate {
  float: right;
  height: 46px;
  padding: 0 10px;
}
.rate > label:before {
  content: "★ ";
}
.rate > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
/* .rate > input {
  position: absolute;
  top: -9999px;
} */
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

/* Feed styles */

#wrapper {
  width: 50%;
  margin: 0 auto;
}
#content {
  padding: 2em;
  margin-top: 1em;
  background-color: #61491d;
  border: solid 2px black;
  color: #f4f1ea;
  box-shadow: 3px 6px #777;
  border-radius: 10px 10px 0px 0px;
  border-bottom: none;
}
#review-wrapper {
  background-color: #704606;
  border: solid 2px black;
  color: #f4f1ea;
  border-top: none;
  box-shadow: 3px 6px #777;
  min-height: 100px;
  border-radius: 0px 0px 10px 10px;
}

#user-name {
  display: flex;
  justify-content: left;
  align-content: flex-start;
  font-size: 16px;
  padding-left: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
#body {
  padding: 1em;
}
#review-wrapper ul {
  margin: 0 auto;
  padding-top: 1em;
  list-style-type: none;
}
#review-wrapper li {
  text-decoration: none;
}
#review-wrapper a {
  color: #eee1c3;
  text-decoration: none;
  padding-left: 1em;
}
#write-review {
  float: right;
  padding-right: 3em;
}
