
body, h2{
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #E5E3D6;
}

h2{
    display: flex;
    justify-content: center;
}

#errors{
    display: flex;
    justify-content: center;
    color: red;
}

.flex-outer input{
    border: none;
    background-color:  #b9b38a;
    padding: 5px 5px 5px 5px;
}

.flex-outer{
    width: 33%;
    margin: 0 auto;
}

.flex-outer li{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.flex-outer li input, .flex-outer li button{
    margin-right: 30px;
}

.flex-outer > li > label{
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer > li > label + *{
    flex: 1 0 220px;
}

.flex-outer li button{
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
  }

.flex-outer li button:hover{
    cursor: pointer;
}

.flex-outer li a{
    padding: 6px 8px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
    text-decoration: none;
  }
